/* BODYY***************/
body{
    margin:0 1rem;
     background-color: black;
 }

 .header{
     display: flex;
     align-items: center;  
 }

 /*ALL P TAGS***************/
 p{
     font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
     color:#e7e9ea ;
 }

/*SIDE BAR***************/
 .side-nav{
    display: none;
}



/*CONTENT***************/
.content{
    display: none;
}

.nav{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed; 
    height: 3rem;
   width: 100%;
   background-color: #000;
    bottom: 0;
}


  .img img ,.adu img {
     width: 1.1rem;
     height: 1.1rem;
 }
 .line{
     display: flex;
 justify-content: space-around;
 align-items: center;   
 }
 .test{
     margin-left: 1.7rem;
 margin-bottom: 2rem;
 }
 .acc{
     font-size: 17px;
     line-height:16px;
     font-weight: 700;
     margin-bottom: 0;
 }
 .aca{
 margin-top: 0.7rem;
 }
 .back{
     margin-top: -1.5rem;
     width: 1rem;
 
 }
 .info{ 
     margin-top: 0;
     color: #71767b;
     font-size: 13px;
     line-height: 16px;
     font-weight: 400;
 }
 .aca{
     margin-bottom: 0;
     font-weight: 400;
 line-height: 20px;
     font-size: 15px;
 }
 .text{
     width: 70%;
 }
 .diff{
     display: none;
     width: 100%;
     background-color: rgb(217, 217, 224);
     }
     
 

.nave{
    width:20px;
}
.nave img{
    width: 100%;
}


@media  (min-width: 768px) {
 .content{
    display: block;
    
   
 }
 .nav{
    display: none;
 }
    .div{
        display: flex;
        top: 0;
        position: absolute;
        width: 97%;
      }
.test{
    width: 83%;
}

    .test input{
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        padding-left: 3rem;
        margin-top:1.5rem ;
        border-radius: 2rem;
        height: 2.8rem;
        margin-bottom: 1rem;
        color: #71767b;
        background-color: #16181c;
        border: 0;
    }




      .side-nav{
        display: block;
        overflow-y: auto;
       overflow: scroll; /* Enable vertical scrolling */
       overflow-x: hidden;
       max-height: 584px;
       position: sticky;
       top: 0;
       bottom: 0;
    }
    
    .nafi{
        font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        display: flex;
       margin-bottom: 2rem;
        align-items: center;
        width: 20rem;
        color: #e7e9ea;
    }
    
    
        .nafi img{
            width: 2rem;
            margin:0  1.6rem;
    
        }
        .btt{
            font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            font: 600;
            color: #e7e9ea;
            background-color: #1d9bf0;
            border: 0;
            font-size:20px;
            border-radius: 3rem;
            width: 11.5rem;
            height: 3rem;
            margin: 1rem 1rem;
        }


      .content{
        overflow: scroll;
        overflow: hidden;
        height: 100%;
       width: 36%;
          border-right: 1px solid rgb(122, 117, 110);
      }
.acp{
display: none;
}

      .gal{
        display: block;
        position: sticky;
        top:0;
       margin-bottom: 0;
        bottom: 0;
        padding-left: 1rem;
        width: 45%;
        color: #e7e9ea;
    }


    .aci{
      
        font-weight: 400;
        line-height: 20px;
        font-size: 15px;
    }
    .lin{
            display: flex;
        justify-content: space-around;
        align-items: center;   
        
    
    }
    


}